

#pesquisar {
    height: 100%;
    width: 100%;
    border: #1f185a 20px;
    display: inline;
}

#conteudo-pesquisa {
    max-width: 90%;
    margin: 0 auto;
}

#form-pesquisa {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
}


.imagem-astronauta-binoculo {
    width: 230px;
    height: auto;
}

#barra-pesquisa {
    max-width: 90%;
    display: flex;
    padding: 1%;
    height:2.9rem;
    background-color: rgb(231, 231, 231);
}


#btn-pesquisa {
    margin: auto;
    padding: 1em;
    background-color: #0a0233;
    color:white;
    border:none;
    border-radius:0.5em;
    cursor: pointer;
}


#livros-pesquisa {
    max-width: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.result {
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 1rem;
    margin-bottom: 70px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}


.result > img {
    width: 128px;
    height: 194px;
    text-align: center;
    margin: 10px auto;
}


.ver-livro {
    padding: 15px 0;
    width: 100%;
}

.ver-livro >  a {
    color: #fff;
    background-color:#0a0233;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 100px 5px 0 0;

}


.mais-inf {
    text-align: left;
    margin: 10px auto;
    width: fit-content;
}


.isbn, .modal-sinopse {
    display: none;
}


.descricao {
    font-size: 1rem;
    padding: 5px;
}

.ler-voz, .ok-sinopse {
    text-decoration: none;
    background-color: #0a0233;
    color: #fff;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
}


.recomendacoes div .icones {
    padding: 10px;
}

.icones {
    text-align: left;
}

.icones img {

    width: 30px;
    height: auto;
}

#livros{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0 80px 0;
    margin: 0 auto;
    text-align: center;
}


#livros div{
    font-size: 0.9em;
    padding:.2em;
}


.image-container img {
    width: 100px;
    height: auto;
}


.image-container img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease-out;
 }
 
 .image-container:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 2px 2px 15px 5px hsla(0, 0%, 0%, 0.123); 
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.123);
 }

/*oculta itens antes de serem encontrados pela busca*/

.hide {
    display: none;
}



/*** RODAPÉ ***/

.rodape {
    bottom: 0;
    position: relative;
    width: auto;
}


@media only screen and (min-device-width: 1280px) and (max-device-width: 1500px) {


    .banner > p {
        width: 50%;
    }



}


@media only screen and (min-device-width: 1200px) and (max-device-width: 1400px) {

 

    .texto {
        display: flex;
        width: 50%;
        text-align: center;
    }

}



@media only screen and (min-device-width: 1500px) and (max-device-width: 1600px) {

    .texto {
        display: flex;
        width: 50%;
        text-align: center;
    }

    
}



@media only screen and (min-device-width: 1700px) and (max-device-width: 2000px) {

    .texto {
        display: flex;
        width: 50%;
        text-align: center;
    }

}





@media only screen and (min-device-width: 1700px) and (max-device-width: 2000px) {

    .texto {
        display: flex;
        width: 50%;
        text-align: center;
    }


}




.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  button {
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: 0;
  }
   
  .button-open {
    background-color: green;
    color: white;
  }
   
  .button-close {
    background-color: red;
    color: white;
  }
   
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }