<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/data.table.css">
<script src="/js/script.js"></script>
<script src="https://kit.fontawesome.com/bb1b5dec7c.js"
	crossorigin="anonymous"></script>
    <title> Página em Construção</title>
</head>
<body id="erro">

    <section class="erro">
        <img src="/img/icone-configurar.png" class="imagem-erro" alt="icone de um astronauta com chave de fenda">
        <h1>  Página em Construção </h1>

        <div class="botao-erro">
            <a th:href="@{/user/profile}" class="btn-erro"> Voltar </a>
        </div>
       
       
    </section>  
</body>
</html>
