
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Página inicial</title>
<link rel="stylesheet" th:href="@{/css/criar-perfil.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/style-conquistas.css/}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="icon" th:href="@{/img/icone-astronauta.png}">
<style>
.selecionado {
	border: 5px solid #0a0233; /* Defina a cor da borda desejada */
}

button {
	cursor: pointer;
}
</style>
</head>
<body onload="novaFrase()">
	<header>
		<input type="checkbox" id="check"> <label for="check">
			<i class="fas fa-bars fa-2x menu"></i>
		</label>
		<div class="barra">
			<div class="item-geral">
				<div class="item">
					<span id="nivel">Nível 1 </span>
				</div>
				<div class="img-item">
					<img src="/img/nv1.png" onclick="abrirNivelCard()">
				</div>
			</div>

			<div class="item-geral">
				<div class="img-item">
					<img src="/img/expbars.png">
				</div>
				<div class="item">
					<span id="exp"> 0 / 100</span>
				</div>
			</div>

			<div class="item-geral">
				<div class="img-item">
					<img src="/img/star-i.png">
				</div>
				<div class="item">
					<span id="estrelas" th:text="${listaDesejos}"> 0 </span>
				</div>
			</div>

			<div class="item-geral">
				<div class="img-item">
					<img src="/img/livro-de-capa-preta-fechado.png" width="20px">
				</div>
				<div class="item">
					<span id="lidos" th:text="${livrosLidos}"> 0 </span>
				</div>
			</div>

			<div class="item-geral">
				<div class="img-item">
					<span> <a href="/anuncios"> <img src="/img/news-b2.png">
					</a></span>
				</div>
			</div>
		</div>

		<div id="modal-nivel" class="modal-container" style="display: none;">
			<div class="modalpopup">
				<div class="topo-form">
					<h1>Nível de leitura</h1>
				</div>
				
					<div class="sucesso">
						<img src="/img/niveis/card-mercurio.png"
							alt="desenho-planeta-mercurio" class="icone-nv">
						<div class="btn-ok">
							<a id="okNivel" class="ok"> OK </a>
						</div>

					</div>
				
			</div>
		</div>


		<nav>
         <ul>
				
				<li>
				<div class="avatar-menu">
					<img th:src="${userAvatar}" class="avatar-menu-img">
				</div>
				
					</li>
					<li>
					<h5>
						<span th:text="${userLogin}" id="userlogin"
							data-userlogin="${userlogin}"></span>
					</h5></li>
				
				<li><i class="fas fa-home"></i><a th:href="@{/user/profile}">
						Home </a></li>
				<li><i class="fas fa-book-reader"></i><a
					th:href="@{/livros-lidos}"> Livros lidos </a></li>
				<li><i class="fas fa-book"></i> <a
					th:href="@{/proximas-leituras}"> Próximas leituras </a></li>
				<li><i class="far fa-bookmark"></i> <a
					th:href="@{/lista-desejos}"> Lista de desejos </a></li>
				<li><i class="fas fa-book-open"></i> <a
					th:href="@{/emprestados}"> Emprestados </a></li>
				<li><i class="fas fa-meteor"></i> <a th:href="@{/conquistas}">
						Conquistas </a></li>
				<li><i class="fas fa-bullhorn"></i> <a th:href="@{/guia-page}">
						Guia das Galáxias </a></li>
				<br>
				<li><i class="fas fa-sign-out-alt"></i> <a th:href="@{/logout}">
						Sair </a></li>


			</ul>
		</nav>
	</header>
	<div id="modal-editar" class="modal-container">
		<div class="modalpopup">
			<div class="topo-form">
				<h1>Editar</h1>
				<a th:href="@{/user/profile}" class="fechar"> X </a>
			</div>
			<div class="formulario">
				<form id="editarForm">
  				
					<label for="livro" class="label"> Qual livro você está lendo agora ?</label> 
							<input type="text" id="livroEdit" name="livroAtual" placeholder="Nome do livro" th:value="${infoUsuarioEditado.livroAtual}">
							<div class="title">Gênero do Livro</div>
							<br> <label for="generosEdit" class="label"> Qual é o
								gênero do seu livro atual?</label>

							<div class="opcoes">
								<select id="generoEdit" name="genero" th:value="${infoUsuarioEditado.genero}" >
									<option value="">Gênero</option>
									<option value="aventura">Aventura</option>
									<option value="autoajuda">Auto Ajuda</option>
									<option value="biografia">Biografia</option>
									<option value="conto">Conto</option>
									<option value="didatico">Didático/Educacional</option>
									<option value="drama">Drama</option>
									<option value="ficcao">Ficção</option>
									<option value="fantasia">Fantasia</option>
									<option value="poema">Poema / Poesia</option>
									<option value="policial">Policial</option>
									<option value="romance">Romance</option>
									<option value="suspense">Suspense</option>
									<option value="terror">Terror</option>
									<option value="outros">Outros</option>
								</select>
							</div>
					<label for="qtpaginas-edit" class="label"> Em qual página vocêestá?</label> 
							<input type="number" id="qtpaginas-edit" min="1" name="numeroPaginas" placeholder="Quantidade de Páginas" th:value="${infoUsuarioEditado.numeroPaginas}">
					<label for="qtpaginas" class="label"> Quantas páginas o seu livro tem?</label> 
							<input type="number" id="qtpaginasTotais" min="1" name="paginasTotais" placeholder="Quantas páginas o livro tem?" th:value="${infoUsuarioEditado.paginasTotais}">
					<input type="hidden" id="usuarioId" name="usuarioId" value="${infoUsuario.id}">			
					<button type="button" onclick="salvarEdicaoPerfil()" id="salvarEdicao" class="salvar"> Salvar</button>


						
				</form>
			</div>
		</div>
	</div>
	
		 <div id="modal-sucesso" class="modal-container" style="display:none;">
        <div class="modalpopup">
            <div class="topo-form">
                <h1> Sucesso!!! </h1>
            </div>
            <div class="sucesso">
               <img th:src=@{/img/icone-sucesso.png} alt="astronauta comemorando">
                <h1> Dados salvos com sucesso !!</h1>
                <div class="btn-ok">
                    <a th:href="@{/user/profile}" class="ok"> OK </a>
                </div>
                
            </div>
        </div>
    </div>
    <section id="banner">
		<div class="banner">
			<div id="texto">
				<h1>
					Olá, <span th:text="${userNome}"></span>!
				</h1>
				<br> Você está lendo: <span th:text="${userLivroAtual}"></span>
				<br> Gênero: <span th:text="${userGenero}"></span> <br>
				Páginas: <span th:text="${userNumeroPaginas}" id="numeroPaginas"></span>/<span
					th:text="${userPaginasTotais}" id="paginasTotais"></span>
					
					
				<a th:href="@{/pagina-perfil}" title="Editar">
				  <i class="far fa-edit icone-tabela-pagina"></i>
				</a>
	
						<br> Porcentagem lida: <span id="porcentagem">0</span>%
				<div>
					<progress id="progresso" value="0" max="100"></progress>
				</div>
				<div class="btn-quiz">
					<a th:href="@{/quiz-page}" id="btnQuiz">Realizar Quiz</a>
				</div>
			</div>

		</div>
	</section>


	<footer>
		<img src="/img/logo-livronauta-rodape.png" class="logo-rodape">
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/perfil-metodo.js}"></script>
	<script th:src="@{/js/script.js}"></script>
	<script th:src="@{/js/niveis.js}"></script>

</body>
</html>
